body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1  {
  margin-top: 0;
  /* color: #f07d36; */
}
h2  {
  font-family: 'Montserrat', sans-serif;
}
h3  {
  font-family: 'Abel', sans-serif;
}
/* p  {
  /* color: #f07d36; */


.top-container {
  background-color: #5fdde5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #f4ea8e;
  height: 200px;
  width: 200px
}

.bottom-container {
  background-color: #d92027;
  height: 200px;
  width: 200px;
}
