body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1  {
  color: #f37121;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2  {
  color: #f37121;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3  {
  font-family: 'Montserrat', sans-serif;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 50px;
}
.bottom-cloud  {
  position: absolute;
  left: 30%;
  bottom: 300px;
}
.profile-pic {
  margin-top: 2em;
  border-radius: 50%;
  height: 300px;
}
.top-container {
  background-color: #5fdde5;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}
.middle-container {
  background-color: #f4ea8e;
}
.bottom-container {
  background-color: #d92027;
}

.skill-row  {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-me {
  background-color: #f37121;
}

.computer-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chillies-pic {
  width: 25%;
  float: right;
  margin-left: 30px;
}


/* Buttons */
.BUTTON_XCQ {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Brush Script MT;
  font-size: 40px;
  font-weight: 100;
  padding: 40px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_XCQ:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}